<p-dialog
  [header]="'DIALOG.USAGE.HEADER' | translate"
  [(visible)]="displayDialog"
  (onHide)="onDialogHide()"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
  [maximizable]="true"
  [style]="{ width: '800px' }"
  [breakpoints]="{
    '992px': '75vw',
    '768px': '90vw',
    '630px': '100vw'
  }"
>
  <app-usage-detail-criteria
    [history]="history"
    [parameter]="parameter"
    (criteriaEmitter)="onSearch($event)"
  ></app-usage-detail-criteria>

  <app-usage-detail-list
    [loading]="loading"
    [exceptionKey]="exceptionKey"
    [history]="history"
    [parameter]="parameter"
    [dateFormat]="dateFormat"
    [data]="(data$ | async) ?? []"
  ></app-usage-detail-list>

  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-end gap-2 mb-1">
      <p-button
        id="pam_usage_detail_action_close"
        icon="pi pi-times"
        (onClick)="onDialogHide()"
        [label]="'ACTIONS.NAVIGATION.CLOSE' | translate"
        [ariaLabel]="'ACTIONS.NAVIGATION.CLOSE' | translate"
        [pTooltip]="'ACTIONS.NAVIGATION.CLOSE.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
