@if (loading) {
  <p-message id="pam_usage_detail_message_loading" severity="info" styleClass="my-3">{{
    'ACTIONS.LOADING' | translate
  }}</p-message>
}
@if (exceptionKey) {
  <p-message id="pam_usage_detail_message_error" severity="error" styleClass="my-3">{{
    exceptionKey | translate
  }}</p-message>
}

@if (!loading && !exceptionKey) {
  <p-table
    #dataTable
    id="pam_usage_detail_list_table"
    styleClass=""
    [value]="data"
    dataKey="id"
    [columns]="filteredColumns"
    [reorderableColumns]="false"
    [scrollable]="true"
    scrollHeight="590px"
    expandableRows="true"
    [expandedRowKeys]="expandedRows"
    rowExpandMode="single"
    [rows]="10"
    [rowsPerPageOptions]="[10, 30, 100]"
    [paginator]="true"
    [alwaysShowPaginator]="true"
    paginatorPosition="bottom"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="{first} - {last} {{ 'ACTIONS.SEARCH.OF' | translate }} {totalRecords}"
  >
    <ng-template pTemplate="emptymessage">
      <tr>
        <td id="pam_usage_detail_list_table_emptymessage" colspan="16">{{ 'ACTIONS.SEARCH.NO_DATA' | translate }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th pFrozenColumn id="pam_usage_detail_table_header_actions" class="text-center white-space-nowrap">
          {{ 'ACTIONS.LABEL' | translate }}
        </th>
        @for (col of columns; track col) {
          <th
            [id]="'pam_usage_detail_list_table_header_col_' + col.field"
            class="white-space-nowrap"
            [class]="col.css"
            [pSortableColumn]="col.field"
            [attr.aria-label]="col.translationPrefix + '.' + col.header | translate"
            [pTooltip]="col.translationPrefix + '.TOOLTIPS.' + col.header | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
            <span>{{ col.translationPrefix + '.' + col.header | translate }}</span>
            @if (col.sort) {
              <p-sortIcon [field]="col.field"></p-sortIcon>
            }
            @if (col.hasFilter) {
              <p-columnFilter type="text" [field]="col.field" display="menu"></p-columnFilter>
            }
          </th>
        }
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-i="rowIndex" let-columns="columns" let-expanded="expanded">
      <tr [id]="'pam_usage_detail_table_row_' + i">
        <!-- actions -->
        <td pFrozenColumn class="align-items-center text-center white-space-nowrap">
          <p-button
            *ocxIfPermission="'USAGE#VIEW'"
            pRipple
            [id]="'pam_usage_detail_table_row_' + i + '_action_expand'"
            [pRowToggler]="rowData"
            [text]="true"
            [rounded]="true"
            [icon]="expanded ? 'pi pi-eye-slash' : 'pi pi-eye'"
            [ariaLabel]="'DIALOG.USAGE.DETAIL.LABEL' | translate"
            [pTooltip]="'DIALOG.USAGE.DETAIL.LABEL' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />
        </td>
        @for (col of columns; track col) {
          <td [id]="'pam_usage_detail_list_table_row_' + i + '_' + col.field" [class]="col.css">
            <!-- needs a div due to manage ellipsis -->
            @if (col.isValue) {
              <div
                class="text-ellipsis-2-lines"
                [attr.aria-label]="'VALUE_TYPE.' + rowData['valueType'] | translate"
                [pTooltip]="'VALUE_TYPE.' + rowData['valueType'] | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                {{ rowData[col.field] }}
              </div>
            }
            @if (col.field === 'equal') {
              <span
                [class.pi]="rowData['isEqual'] === 'TRUE' || rowData['isEqual'] === 'FALSE'"
                [class.pi-check]="rowData['isEqual'] === 'TRUE'"
                [class.text-green-600]="rowData['isEqual'] === 'TRUE'"
                [class.pi-times]="rowData['isEqual'] === 'FALSE'"
                [class.text-red-600]="rowData['isEqual'] === 'FALSE'"
                [attr.aria-label]="'PARAMETER.TOOLTIPS.EQUAL.' + rowData['isEqual'] | translate"
                [pTooltip]="'PARAMETER.TOOLTIPS.EQUAL.' + rowData['isEqual'] | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                {{ rowData['isEqual'] === 'UNDEFINED' ? 'n.a.' : '' }}
              </span>
            }
            @if (col.isText) {
              {{ rowData[col.field] }}
            }
            @if (col.isDate) {
              {{ rowData[col.field] | date: dateFormat }}
            }
            @if (col.isDuration) {
              {{ onCalcDuration(rowData['start'], rowData['end']) }}
            }
          </td>
        }
      </tr>
    </ng-template>
    <ng-template #expandedrow let-rowData let-index="rowIndex" let-columns="columns">
      <tr class="">
        <td [attr.colspan]="columns.length + 1">
          <div class="flex flex-row flex-wrap gap-4 justify-content-around align-items-start">
            <p-fieldset
              [toggleable]="false"
              [collapsed]="false"
              [styleClass]="'px-2 w-full' + (index % 2 === 1 ? ' surface-100' : '')"
              [style]="{ 'margin-top': '-0.5rem' }"
            >
              <ng-template pTemplate="header">{{ 'USAGE.USED_VALUE' | translate }} </ng-template>
              <div class="mt-1 flex flex-row flex-wrap gap-3">
                @if (rowData.valueType === 'UNKNOWN') {
                  {{ 'PARAMETER.VALUE.EMPTY' | translate }}
                }
                @if (rowData.valueType !== 'UNKNOWN') {
                  <div
                    [pTooltip]="'PARAMETER.TOOLTIPS.VALUE.TYPE.DETAIL' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  >
                    {{ 'VALUE_TYPE.' + rowData.valueType | translate }}
                  </div>
                  <div class="flex-grow-1">
                    @if (rowData.valueType === 'BOOLEAN') {
                      <p-checkbox
                        type="text"
                        [binary]="true"
                        id="pam_usage_detail_form_value_used"
                        styleClass="ml-3 cursor-auto shadow-none"
                        [value]="rowData.usedValue"
                        [pTooltip]="'PARAMETER.TOOLTIPS.VALUE' | translate"
                        tooltipPosition="top"
                        tooltipEvent="hover"
                        >{{ 'PARAMETER.VALUE' | translate }}</p-checkbox
                      >
                    }
                    @if (rowData.valueType !== 'BOOLEAN') {
                      <p-floatlabel variant="on">
                        @if (rowData.valueType !== 'OBJECT') {
                          <input
                            pInputText
                            type="text"
                            id="pam_usage_detail_form_value_used"
                            class="mb-1 w-full pt-3 pb-2 text-responsive"
                            [value]="rowData.usedValue"
                            [ariaLabel]="'PARAMETER.VALUE' | translate"
                            [pTooltip]="'PARAMETER.TOOLTIPS.VALUE' | translate"
                            tooltipPosition="top"
                            tooltipEvent="hover"
                          />
                        }
                        @if (rowData.valueType === 'OBJECT') {
                          <textarea
                            pInputTextarea
                            id="pam_usage_detail_form_value_used"
                            class="w-full"
                            [rows]="5"
                            [value]="toJsonFormat(rowData.usedValue)"
                            [ariaLabel]="'USAGE.USED_VALUE' | translate"
                            [pTooltip]="'USAGE.TOOLTIPS.USED_VALUE' | translate"
                            tooltipPosition="top"
                            tooltipEvent="hover"
                          >
                          </textarea>
                        }
                        @if (rowData.valueType !== 'BOOLEAN') {
                          <label for="pam_usage_detail_form_value_used">
                            {{ 'PARAMETER.VALUE' | translate }}
                          </label>
                        }
                      </p-floatlabel>
                    }
                  </div>
                }
              </div>
            </p-fieldset>
            <p-fieldset
              [toggleable]="false"
              [collapsed]="false"
              [styleClass]="'px-2 w-full' + (index % 2 === 0 ? ' surface-100' : '')"
              [style]="{ 'margin-top': '-0.5rem' }"
            >
              <ng-template pTemplate="header">{{ 'USAGE.DEFAULT_VALUE' | translate }} </ng-template>
              <div class="mt-1 flex flex-row flex-wrap gap-3">
                @if (rowData.defaultValueType === 'UNKNOWN') {
                  {{ 'PARAMETER.VALUE.EMPTY' | translate }}
                }
                @if (rowData.defaultValueType !== 'UNKNOWN') {
                  <div
                    [pTooltip]="'PARAMETER.TOOLTIPS.VALUE.TYPE.DETAIL' | translate"
                    tooltipPosition="top"
                    tooltipEvent="hover"
                  >
                    {{ 'VALUE_TYPE.' + rowData.defaultValueType | translate }}
                  </div>
                  <div class="flex-grow-1">
                    @if (rowData.defaultValueType === 'BOOLEAN') {
                      <p-checkbox
                        type="text"
                        [binary]="true"
                        id="pam_usage_detail_form_value_default"
                        styleClass="ml-3 cursor-auto shadow-none"
                        [value]="rowData.defaultValue"
                        [pTooltip]="'PARAMETER.TOOLTIPS.VALUE' | translate"
                        tooltipPosition="top"
                        tooltipEvent="hover"
                        >{{ 'PARAMETER.VALUE' | translate }}</p-checkbox
                      >
                    }
                    @if (rowData.defaultValueType !== 'BOOLEAN') {
                      <p-floatlabel variant="on">
                        @if (rowData.defaultValueType !== 'OBJECT') {
                          <input
                            pInputText
                            type="text"
                            id="pam_usage_detail_form_value_default"
                            class="mb-1 w-full pt-3 pb-2 text-responsive"
                            [value]="rowData.defaultValue"
                            [ariaLabel]="'PARAMETER.VALUE' | translate"
                            [pTooltip]="'PARAMETER.TOOLTIPS.VALUE' | translate"
                            tooltipPosition="top"
                            tooltipEvent="hover"
                          />
                        }
                        @if (rowData.defaultValueType === 'OBJECT') {
                          <textarea
                            pInputTextarea
                            id="pam_usage_detail_form_value_default"
                            class="w-full"
                            [rows]="5"
                            [value]="toJsonFormat(rowData.defaultValue)"
                            [ariaLabel]="'USAGE.DEFAULT_VALUE' | translate"
                            [pTooltip]="'USAGE.TOOLTIPS.DEFAULT_VALUE' | translate"
                            tooltipPosition="top"
                            tooltipEvent="hover"
                          >
                          </textarea>
                        }
                        @if (rowData.defaultValueType !== 'BOOLEAN') {
                          <label for="pam_usage_detail_form_value_default">
                            {{ 'PARAMETER.VALUE' | translate }}
                          </label>
                        }
                      </p-floatlabel>
                    }
                  </div>
                }
              </div>
            </p-fieldset>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
}
