<ocx-page-content styleClass="px-3">
  <div class="flex justify-center" style="margin: 15px">
    <label for="formTypeSwitch">{{ 'DETAILS.STANDARD_FORM' | translate }}</label>
    <p-inputSwitch
      inputId="parameter_detail_formTypeSwitch"
      [(ngModel)]="advancedForm"
      [ngStyle]="{ margin: '0 5px' }"
      (onChange)="mode !== 'edit' ? parameterForm.reset() : ''"
      [pTooltip]="'PARAMETER.TOOLTIPS.FORM_TYPE' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    ></p-inputSwitch>
    <label for="parameter_detail_formTypeSwitch">{{ 'DETAILS.ADVANCED_FORM' | translate }}</label>
  </div>

  <div>
    <p-card>
      <form [formGroup]="parameterForm">
        <div class="grid m-0">
          <div class="p-fluid col-12 md:col-6">
            <span class="p-float-label" controlErrorAnchor>
              <p-dropdown
                formControlName="productName"
                [options]="this.productOptions"
                optionLabel="title"
                optionValue="value"
                id="parameter_detail_form_productName"
                appendTo="body"
                [showClear]="true"
                (onChange)="this.updateApplicationIds($event.value)"
                [style]="{ minWidth: '200px' }"
                [editable]="true"
                [pTooltip]="'PARAMETER.TOOLTIPS.PRODUCT_NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label class="ocx-required-label" for="parameter_detail_form_productName">
                {{ 'PARAMETER.PRODUCT_NAME' | translate }}</label
              >
            </span>
          </div>
          <div class="p-fluid col-12 md:col-6">
            <span class="p-float-label" controlErrorAnchor>
              <p-dropdown
                formControlName="applicationId"
                [options]="this.applicationIds"
                id="parameter_detail_form_applicationId"
                appendTo="body"
                [style]="{ minWidth: '200px' }"
                [editable]="true"
                [pTooltip]="'PARAMETER.TOOLTIPS.APP_ID' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label class="ocx-required-label" for="parameter_detail_form_applicationId">
                {{ 'PARAMETER.APP_ID' | translate }}</label
              >
            </span>
          </div>

          <div class="p-fluid col-12 md:col-6 mb-3">
            <span class="p-float-label" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="parameter_detail_form_key"
                formControlName="key"
                [pTooltip]="'PARAMETER.TOOLTIPS.KEY' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label class="ocx-required-label" for="parameter_detail_form_key">
                {{ 'PARAMETER.KEY' | translate }}</label
              >
            </span>
          </div>

          <div class="p-fluid col-12 md:col-6 mb-3" *ngIf="!advancedForm">
            <span class="p-float-label" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="parameter_detail_form_value"
                formControlName="value"
                [pTooltip]="'PARAMETER.TOOLTIPS.VALUE' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label class="ocx-required-label" for="parameter_detail_form_value">
                {{ 'PARAMETER.VALUE' | translate }}</label
              >
            </span>
          </div>

          <div class="p-fluid col-12 md:col-6 mb-3" *ngIf="advancedForm">
            <span class="p-float-label" controlErrorAnchor>
              <textarea
                [rows]="5"
                [cols]="30"
                pInputTextarea
                id="parameter_detail_form_value"
                formControlName="value"
                jsonColorize
              >
              </textarea>
              <label class="ocx-required-label" for="parameter_detail_form_value">
                {{ 'PARAMETER.VALUE' | translate }}</label
              >
            </span>
          </div>

          <div class="p-fluid col-12 md:col-6 mb-3">
            <span class="p-float-label">
              <input
                pInputText
                type="text"
                id="parameter_detail_form_importValue"
                [value]="parameterDTO?.importValue"
                disabled="true"
                [pTooltip]="'PARAMETER.TOOLTIPS.IMPORT_VALUE' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="parameter_detail_form_importValue">{{ 'PARAMETER.IMPORT_VALUE' | translate }}</label>
            </span>
          </div>

          <div class="p-fluid col-12 md:col-6 mb-3">
            <span class="p-float-label">
              <input
                pInputText
                type="text"
                id="parameter_detail_form_unit"
                formControlName="unit"
                [pTooltip]="'PARAMETER.TOOLTIPS.UNIT' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="parameter_detail_form_unit">{{ 'PARAMETER.UNIT' | translate }}</label>
            </span>
          </div>

          <div class="p-fluid col-12 md:col-6 mb-3">
            <span class="p-float-label">
              <input
                pInputText
                type="text"
                id="parameter_detail_form_rangeFrom"
                formControlName="rangeFrom"
                [pTooltip]="'PARAMETER.TOOLTIPS.RANGE_FROM' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="parameter_detail_form_rangeFrom">{{ 'PARAMETER.RANGE_FROM' | translate }}</label>
            </span>
          </div>

          <div class="p-fluid col-12 md:col-6 mb-3">
            <span class="p-float-label">
              <input
                pInputText
                type="text"
                id="parameter_detail_form_rangeTo"
                formControlName="rangeTo"
                [pTooltip]="'PARAMETER.TOOLTIPS.RANGE_TO' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="parameter_detail_form_rangeTo">{{ 'PARAMETER.RANGE_TO' | translate }}</label>
            </span>
          </div>

          <div class="p-fluid col-12 md:col-12 mb-3">
            <span class="p-float-label" controlErrorAnchor>
              <textarea
                rows="5"
                cols="30"
                pInputTextarea
                id="parameter_detail_form_description"
                formControlName="description"
                class="w-full"
                autoResize="true"
                [pTooltip]="'PARAMETER.TOOLTIPS.DESCRIPTION' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </textarea>
              <label class="ocx-required-label" for="parameter_detail_form_description">
                {{ 'PARAMETER.DESCRIPTION' | translate }}
              </label>
            </span>
          </div>
        </div>
      </form>
    </p-card>
  </div>

  <div *ngIf="advancedForm" class="mt-3 flex flex-column gap-3">
    <span class="flex justify-center align-items-center">
      <h4 style="margin-bottom: 5px !important">{{ 'HISTORY.HISTORY' | translate }}</h4>
      <p-button
        icon="pi pi-refresh"
        styleClass="p-button-text"
        pTooltip="{{ 'HISTORY.HISTORY_RELOAD' | translate }}"
        (onClick)="this.getParameterHistoryArray()"
      ></p-button>
    </span>
    <p-card>
      <p-table
        [value]="parameterHistoryArray"
        styleClass="p-datatable-striped"
        [resizableColumns]="true"
        [autoLayout]="true"
        selectionMode="single"
        [(selection)]="this.selectedHistoryParam"
        (onRowSelect)="this.useHistoryParam()"
      >
        <ng-template pTemplate="header">
          <tr>
            <th id="parameter_detail_header_productName">{{ 'HISTORY.PRODUCT' | translate }}</th>
            <th id="parameter_detail_header_applicationId">{{ 'HISTORY.APPLICATION' | translate }}</th>
            <th id="parameter_detail_header_key">{{ 'HISTORY.KEY' | translate }}</th>
            <th id="parameter_detail_header_instanceId">{{ 'HISTORY.INSTANCE_ID' | translate }}</th>
            <th id="parameter_detail_header_defaultValue">{{ 'HISTORY.DEFAULT_VALUE' | translate }}</th>
            <th id="parameter_detail_header_usedValue">{{ 'HISTORY.USED_VALUE' | translate }}</th>
            <th id="parameter_detail_header_lastUsed">{{ 'HISTORY.LAST_USED' | translate }}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-parameterHistory>
          <tr [pSelectableRow]="parameterHistory">
            <td>{{ parameterHistory.productName }}</td>
            <td>{{ parameterHistory.applicationId }}</td>
            <td>{{ parameterHistory.key }}</td>
            <td>{{ parameterHistory.instanceId }}</td>
            <td>{{ parameterHistory.defaultValue }}</td>
            <td>{{ parameterHistory.usedValue }}</td>
            <td>{{ parameterHistory.creationDate | date: 'medium' }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="16">{{ 'GENERAL.NO_DATA' | translate }}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
    <p-card *ngIf="data">
      <p-chart type="line" [data]="data" [options]="options" height="400"></p-chart>
    </p-card>
  </div>
</ocx-page-content>
