<div [formGroup]="criteriaForm" class="mt-1 mb-4 flex flex-row flex-wrap gap-3">
  <span class="p-float-label flex-grow-1">
    <input
      id="pam_usage_detail_criteria_name"
      pInputText
      type="text"
      formControlName="name"
      class="w-full text-responsive"
      [attr.aria-label]="'PARAMETER.NAME' | translate"
      [pTooltip]="'PARAMETER.TOOLTIPS.COMBINED_NAME' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    />
    <label for="pam_usage_detail_criteria_name">{{ 'PARAMETER.NAME' | translate }}</label>
  </span>
  <span class="p-float-label flex-grow-1">
    <input
      id="pam_usage_detail_criteria_product_name"
      pInputText
      type="text"
      formControlName="productName"
      class="w-full text-responsive"
      [attr.aria-label]="'PARAMETER.PRODUCT_NAME' | translate"
      [pTooltip]="'PARAMETER.TOOLTIPS.PRODUCT_NAME' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    />
    <label for="pam_usage_detail_criteria_product_name">{{ 'PARAMETER.PRODUCT_NAME' | translate }}</label>
  </span>
  <span class="p-float-label flex-grow-1">
    <input
      id="pam_usage_detail_criteria_application_id"
      pInputText
      type="text"
      formControlName="applicationId"
      class="w-full text-responsive"
      [attr.aria-label]="'PARAMETER.APP_NAME' | translate"
      [pTooltip]="'PARAMETER.TOOLTIPS.APP_NAME' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    />
    <label for="pam_usage_detail_criteria_application_id">{{ 'PARAMETER.APP_NAME' | translate }}</label>
  </span>
</div>
