<p-dialog
  [header]="'DIALOG.DETAIL.DELETE.HEADER' | translate"
  [visible]="visible"
  (visibleChange)="visibleChange.emit(false)"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="false"
  [dismissableMask]="true"
  [style]="{ 'max-width': '500px' }"
>
  <div *ngIf="parameter" class="flex flex-row column-gap-0 justify-content-start align-items-center">
    <div class="pi pi-question-circle text-3xl danger-action-text" aria-hidden="true"></div>
    <section class="w-11 pl-4 flex flex-column row-gap-3">
      <div
        id="pam_delete_message_text"
        class="mr-3 font-bold"
        [attr.aria-label]="'ACTIONS.CONFIRMATION.QUESTION' | translate"
        role="note"
      >
        {{ 'ACTIONS.DELETE.MESSAGE.TEXT' | translate }}
      </div>
      <div
        id="pam_delete_parameter_name"
        class="text-center danger-action-text text-responsive"
        [attr.aria-label]="'PARAMETER.NAME' | translate"
        role="note"
      >
        {{ parameter.displayName ?? parameter.name }}
      </div>

      <div class="px-2 flex flex-column row-gap-1 text-center">
        <div class="flex flex-row column-gap-3">
          <div class="w-4 text-right font-bold">{{ 'PARAMETER.PRODUCT_NAME' | translate }}:</div>
          <div class="w-8 text-left text-responsive" id="pam_delete_product_name">
            {{ productDisplayName }}
          </div>
        </div>
        <div class="flex flex-row column-gap-3">
          <div class="w-4 text-right font-bold">{{ 'PARAMETER.APP_ID' | translate }}:</div>
          <div class="w-8 text-left text-responsive" id="pam_delete_app_id">
            {{ appDisplayName }}
          </div>
        </div>
      </div>

      <div class="white-space-nowrap mr-5">{{ 'ACTIONS.DELETE.MESSAGE.INFO' | translate }}</div>
    </section>
  </div>
  <ng-template pTemplate="footer">
    <footer class="flex flex-wrap justify-content-end column-gap-2 row-gap-1">
      <p-button
        id="pam_delete_action_no"
        icon="pi pi-times"
        pAutoFocus
        [autofocus]="true"
        (onClick)="visibleChange.emit(false)"
        [label]="'ACTIONS.CONFIRMATION.NO' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="pam_delete_action_yes"
        icon="pi pi-check"
        (onClick)="onDeleteParameter(parameter)"
        [label]="'ACTIONS.CONFIRMATION.YES' | translate"
        [ariaLabel]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
        [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </footer>
  </ng-template>
</p-dialog>
