<ocx-search-header
  [header]="'DIALOG.' + type + '.HEADER' | translate"
  [subheader]="'DIALOG.' + type + '.SUBHEADER' | translate"
  (searched)="onSearch()"
  (resetted)="onResetCriteria()"
  [manualBreadcrumbs]="false"
  [actions]="actions"
>
  <div [formGroup]="criteriaForm" class="flex flex-wrap gap-3">
    <span class="p-float-label">
      <p-dropdown
        id="pam_search_criteria_product_name"
        styleClass="w-13rem sm:w-18rem text-responsive"
        formControlName="productName"
        [options]="productOptions"
        (onChange)="onChangeProductName($event.value)"
        [showClear]="true"
        [appendTo]="'body'"
        [emptyMessage]="'ACTIONS.SEARCH.CRITERIA.NO_PRODUCT' | translate"
        [ariaLabel]="'PARAMETER.PRODUCT_NAME' | translate"
        [pTooltip]="'PARAMETER.TOOLTIPS.PRODUCT_NAME' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
      </p-dropdown>
      <label for="pam_search_criteria_product_name">{{ 'PARAMETER.PRODUCT_NAME' | translate }}</label>
    </span>
    <span *ocxAdvanced class="p-float-label">
      <p-dropdown
        id="pam_search_criteria_application_id"
        styleClass="w-13rem sm:w-18rem text-responsive"
        formControlName="applicationId"
        [options]="appOptions"
        [showClear]="true"
        [appendTo]="'body'"
        [emptyMessage]="'ACTIONS.SEARCH.CRITERIA.NO_APP' | translate"
        [ariaLabel]="'PARAMETER.APP_NAME' | translate"
        [pTooltip]="'PARAMETER.TOOLTIPS.APP_NAME' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      >
      </p-dropdown>
      <label for="pam_search_criteria_application_id">{{ 'PARAMETER.APP_NAME' | translate }}</label>
    </span>
    <span class="p-float-label">
      <input
        id="pam_search_criteria_name"
        pInputText
        type="text"
        formControlName="name"
        class="w-13rem sm:w-18rem text-responsive"
        [attr.aria-label]="'PARAMETER.NAME' | translate"
        [pTooltip]="'PARAMETER.TOOLTIPS.COMBINED_NAME' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      />
      <label for="pam_search_criteria_name">{{ 'PARAMETER.NAME' | translate }}</label>
    </span>
  </div>
</ocx-search-header>
