<ocx-portal-page permission="PARAMETER#SEARCH" helpArticleId="PAGE_PARAMETER_SEARCH">
  <!-- slot getting data from product store -->
  <ocx-slot
    *ngIf="isComponentDefined$ | async"
    [name]="slotName"
    [inputs]="{ dataType: 'products', logEnabled: true, logPrefix: 'parameter' }"
    [outputs]="{ products: slotEmitter }"
  >
  </ocx-slot>

  <ng-container *ngIf="metaData$ | async as metaData">
    <app-parameter-criteria
      type="SEARCH"
      [actions]="actions"
      [usedProducts]="metaData.usedProducts"
      (searchEmitter)="onSearch($event)"
      (resetSearchEmitter)="onCriteriaReset()"
    ></app-parameter-criteria>

    <ocx-page-content>
      <p-message
        *ngIf="exceptionKey || exceptionKeyMeta"
        id="pam_search_message_error"
        severity="error"
        styleClass="m-3"
        [text]="exceptionKey ? (exceptionKey | translate) : (exceptionKeyMeta ?? '' | translate)"
      ></p-message>

      <ng-container *ngIf="data$ | async as data">
        <p-message
          *ngIf="loading"
          id="pam_search_message_loading"
          severity="info"
          styleClass="m-3"
          [text]="'ACTIONS.LOADING' | translate"
        ></p-message>
        <p-table
          *ngIf="!(loading || exceptionKey)"
          #dataTable
          id="pam_search_table"
          styleClass="mx-3 mb-2"
          [value]="data"
          dataKey="id"
          [columns]="filteredColumns"
          [globalFilterFields]="['productName', 'applicationId', 'name', 'displayName']"
          [reorderableColumns]="false"
          [scrollable]="true"
          scrollHeight="590px"
          [rows]="30"
          [rowsPerPageOptions]="[30, 100]"
          [paginator]="true"
          [alwaysShowPaginator]="true"
          paginatorPosition="bottom"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="{first} - {last} {{ 'ACTIONS.SEARCH.OF' | translate }} {totalRecords}"
        >
          <ng-template pTemplate="caption">
            <ocx-data-view-controls
              [supportedViews]="['table']"
              [enableFiltering]="true"
              [enableSorting]="false"
              [columnDefinitions]="columns"
              (columnsChange)="onColumnsChange($event)"
              (filterChange)="onFilterChange($event)"
              [translations]="(dataViewControlsTranslations$ | async) ?? {}"
            ></ocx-data-view-controls>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td id="pam_search_table_emptymessage" colspan="16">{{ 'ACTIONS.SEARCH.NO_DATA' | translate }}</td>
            </tr>
          </ng-template>

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th pFrozenColumn id="pam_search_table_header_actions" class="text-center">
                {{ 'ACTIONS.LABEL' | translate }}
              </th>
              <th
                *ngFor="let col of columns"
                [id]="'pam_search_table_header_col_' + col.field"
                class="white-space-nowrap"
                [class]="col.css"
                [ngClass]="{ 'border-right-1': col.frozen }"
                pFrozenColumn
                [frozen]="col.frozen"
                [pSortableColumn]="col.field"
                [attr.aria-label]="col.translationPrefix + '.' + col.header | translate"
                [pTooltip]="col.translationPrefix + '.TOOLTIPS.' + col.header | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <span>{{ col.translationPrefix + '.' + col.header | translate }}</span>
                <p-sortIcon *ngIf="col.sort" [field]="col.field"></p-sortIcon>
                <p-columnFilter *ngIf="col.hasFilter" type="text" [field]="col.field" display="menu"></p-columnFilter>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
            <tr [pSelectableRow]="data">
              <!-- actions -->
              <td pFrozenColumn>
                <!-- use the following as container to wrap button within the row height -->
                <div class="flex flex-row flex-wrap sm:flex-nowrap justify-content-center align-items-center">
                  <div class="white-space-nowrap">
                    <ng-container *ocxIfNotPermission="'PARAMETER#EDIT'">
                      <p-button
                        *ocxIfPermission="'PARAMETER#VIEW'"
                        type="button"
                        pRipple
                        [id]="'pam_search_table_row_' + i + '_action_view'"
                        [text]="true"
                        [plain]="true"
                        [rounded]="true"
                        [icon]="'pi pi-eye'"
                        (click)="onDetail('VIEW', rowData, $event)"
                        [attr.aria-label]="'ACTIONS.VIEW.LABEL' | translate"
                        [pTooltip]="'ACTIONS.VIEW.LABEL' | translate"
                        tooltipPosition="top"
                        tooltipEvent="hover"
                      />
                    </ng-container>
                    <p-button
                      *ocxIfPermission="'PARAMETER#EDIT'"
                      type="button"
                      pRipple
                      [id]="'pam_search_table_row_' + i + '_action_edit'"
                      [text]="true"
                      [plain]="true"
                      [rounded]="true"
                      [icon]="'pi pi-pencil'"
                      (click)="onDetail('EDIT', rowData, $event)"
                      [attr.aria-label]="'ACTIONS.EDIT.LABEL' | translate"
                      [pTooltip]="'ACTIONS.EDIT.LABEL' | translate"
                      tooltipPosition="top"
                      tooltipEvent="hover"
                    />
                    <p-button
                      *ocxIfPermission="'PARAMETER#EDIT'"
                      type="button"
                      pRipple
                      [id]="'pam_search_table_row_' + i + '_action_copy'"
                      [text]="true"
                      [plain]="true"
                      [rounded]="true"
                      [icon]="'pi pi-copy'"
                      (click)="onDetail('COPY', rowData, $event)"
                      [attr.aria-label]="'ACTIONS.COPY.LABEL' | translate"
                      [pTooltip]="'ACTIONS.COPY.LABEL' | translate"
                      tooltipPosition="top"
                      tooltipEvent="hover"
                    />
                  </div>
                  <div class="white-space-nowrap">
                    <p-button
                      *ocxIfPermission="'USAGE#VIEW'"
                      type="button"
                      pRipple
                      [id]="'pam_search_table_row_' + i + '_action_usage'"
                      [text]="true"
                      [plain]="true"
                      [rounded]="true"
                      [icon]="'pi pi-history'"
                      (click)="onDetailUsage($event, rowData)"
                      [disabled]="!rowData['isInHistory']"
                      [attr.aria-label]="'DIALOG.NAVIGATION.DETAIL_USAGE.LABEL' | translate"
                      [pTooltip]="'DIALOG.NAVIGATION.DETAIL_USAGE.LABEL' | translate"
                      tooltipPosition="top"
                      tooltipEvent="hover"
                    />
                    <p-button
                      *ocxIfPermission="'PARAMETER#DELETE'"
                      type="button"
                      pRipple
                      [id]="'pam_search_table_row_' + i + '_action_delete'"
                      [text]="true"
                      [plain]="true"
                      [rounded]="true"
                      severity="danger"
                      [icon]="'pi pi-trash'"
                      (click)="onDelete($event, rowData)"
                      [attr.aria-label]="'ACTIONS.DELETE.LABEL' | translate"
                      [pTooltip]="'ACTIONS.DELETE.LABEL' | translate"
                      tooltipPosition="top"
                      tooltipEvent="hover"
                    />
                  </div>
                </div>
              </td>
              <td
                *ngFor="let col of columns"
                [id]="'pam_search_table_row_' + i + '_' + col.field"
                [class]="col.css"
                [ngClass]="{ 'border-right-1': col.frozen }"
                pFrozenColumn
                [frozen]="col.frozen"
              >
                @let value = rowData['value'] ?? rowData['importValue'];
                <!-- needs a div due to manage ellipsis -->
                <div
                  *ngIf="col.field === 'name'"
                  class="text-ellipsis-2-lines max-w-15rem word-break-all"
                  [ngStyle]="{
                    'min-width': rowData['displayName'].length > 15 ? '8rem' : ''
                  }"
                >
                  {{ rowData['displayName'] }}
                </div>

                @let isUnknown = [rowData['valueType'], rowData['importValueType']].includes('UNKNOWN');
                <span
                  *ngIf="col.field === 'valueType'"
                  [pTooltip]="isUnknown ? ('VALUE_TYPE.UNKNOWN.TOOLTIP' | translate) : ''"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                >
                  {{ 'VALUE_TYPE.' + rowData['valueType'] | translate }}
                  <ng-container *ngIf="rowData['valueType'] !== rowData['importValueType']">
                    | {{ 'VALUE_TYPE.' + rowData['importValueType'] | translate }}
                  </ng-container>
                </span>

                <span
                  *ngIf="col.field === 'equal'"
                  [ngClass]="
                    rowData['isEqual'] === 'TRUE'
                      ? 'pi pi-check text-green-600'
                      : rowData['isEqual'] === 'FALSE'
                        ? 'pi pi-times text-red-600'
                        : ''
                  "
                  [attr.aria-label]="'PARAMETER.TOOLTIPS.EQUAL.' + rowData['isEqual'] | translate"
                  [pTooltip]="'PARAMETER.TOOLTIPS.EQUAL.' + rowData['isEqual'] | translate"
                  tooltipPosition="top"
                  tooltipEvent="hover"
                  >{{ rowData['isEqual'] === 'UNDEFINED' ? 'n.a.' : '' }}</span
                >

                <div
                  *ngIf="col.field === 'value'"
                  class="text-ellipsis-2-lines max-w-20rem word-break-all"
                  [ngStyle]="{ 'min-width': (value ?? '').length > 15 ? '10rem' : '' }"
                >
                  {{ rowData['displayValue'] }}
                </div>

                <ng-container *ngIf="col.field === 'applicationId'">
                  {{ getProductDisplayName(rowData['productName'], metaData.allProducts) }}
                  <br />
                  {{ getAppDisplayName(rowData['productName'], rowData['applicationId'], metaData.allProducts) }}
                </ng-container>

                <ng-container *ngIf="col.isBoolean">
                  <span *ngIf="rowData[col.field] === true" class="pi pi-check text-green-600"></span>
                </ng-container>
                <ng-container *ngIf="col.isDate"> {{ rowData[col.field] | date: dateFormat }} </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>

        <!-- DELETE -->
        <p-dialog
          [header]="'DIALOG.DETAIL.DELETE.HEADER' | translate"
          [(visible)]="displayDeleteDialog"
          [modal]="true"
          [closable]="true"
          [draggable]="true"
          [resizable]="false"
          [dismissableMask]="true"
        >
          <div *ngIf="item4Delete" class="flex column-gap-3 row-gap-1 justify-content-start align-items-center">
            <div class="pi pi-question-circle text-3xl danger-action-text"></div>
            <div class="flex flex-column row-gap-2">
              <div id="pam_delete_message_text" class="mr-3 font-bold">
                {{ 'ACTIONS.DELETE.MESSAGE.TEXT' | translate }}
              </div>
              <div class="px-2 flex flex-column row-gap-1">
                <div class="flex flex-row column-gap-2">
                  <div class="w-4 text-right">{{ 'PARAMETER.NAME' | translate }}:</div>
                  <div
                    class="w-8 text-left danger-action-text text-responsive max-w-15rem"
                    id="pam_delete_parameter_name"
                  >
                    {{ item4Delete.displayName ?? item4Delete.name }}
                  </div>
                </div>
                <div class="flex flex-row column-gap-2">
                  <div class="w-4 text-right">{{ 'PARAMETER.PRODUCT_NAME' | translate }}:</div>
                  <div
                    class="w-8 text-left danger-action-text text-responsive max-w-15rem"
                    id="pam_delete_product_name"
                  >
                    {{ getProductDisplayName(item4Delete.productName, metaData.allProducts) }}
                  </div>
                </div>
                <div class="flex flex-row column-gap-2">
                  <div class="w-4 text-right">{{ 'PARAMETER.APP_ID' | translate }}:</div>
                  <div class="w-8 text-left danger-action-text text-responsive max-w-15rem" id="pam_delete_app_id">
                    {{ getAppDisplayName(item4Delete.productName, item4Delete.applicationId, metaData.allProducts) }}
                  </div>
                </div>
              </div>
              <div>{{ 'ACTIONS.DELETE.MESSAGE.INFO' | translate }}</div>
            </div>
          </div>
          <ng-template pTemplate="footer">
            <div class="flex flex-wrap justify-content-end column-gap-2 row-gap-1">
              <p-button
                id="pam_delete_action_no"
                icon="pi pi-times"
                pAutoFocus
                [autofocus]="true"
                (onClick)="displayDeleteDialog = false"
                [label]="'ACTIONS.CONFIRMATION.NO' | translate"
                [ariaLabel]="'ACTIONS.CONFIRMATION.NO' | translate"
                [pTooltip]="'ACTIONS.CONFIRMATION.NO.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></p-button>
              <p-button
                id="pam_delete_action_yes"
                icon="pi pi-check"
                (onClick)="onDeleteConfirmation(data)"
                [label]="'ACTIONS.CONFIRMATION.YES' | translate"
                [ariaLabel]="'ACTIONS.CONFIRMATION.YES' | translate"
                [pTooltip]="'ACTIONS.CONFIRMATION.YES.TOOLTIP' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              ></p-button>
            </div>
          </ng-template>
        </p-dialog>
      </ng-container>
      <!-- DETAIL -->
      <app-parameter-detail
        [displayDialog]="displayDetailDialog"
        (hideDialogAndChanged)="onCloseDetail($event)"
        [parameter]="item4Detail"
        [allProducts]="metaData.allProducts"
        [changeMode]="changeMode"
        [dateFormat]="dateFormat"
      ></app-parameter-detail>
    </ocx-page-content>
  </ng-container>
</ocx-portal-page>

<app-usage-detail
  [displayDialog]="displayUsageDetailDialog"
  (hideDialog)="onCloseUsageDetail()"
  [parameter]="item4Detail"
  [dateFormat]="dateFormat"
></app-usage-detail>
