@import '/src/app/_pm-mixins.scss';

@include text-badges;
@include danger-action;
@include word-break-all;
@include displaying-text-responsive;
@include table-inline-buttons;
@include table-zebra-rows;
@include table-responsive-columns;
@include dialog-footer-buttons;

:host ::ng-deep {
  .text-badge-right {
    right: 0px;
    height: 1.4rem;
    width: 1.4rem;
  }
  .p-datatable {
    .p-datatable-thead > tr > th {
      border-bottom-width: 2px;
    }
  }
  --table-body-cell-padding: 0.5rem;

  // hide unusable stuff
  ocx-column-group-selection,
  ocx-data-view-controls div div button {
    display: none;
  }
  ocx-data-view-controls div {
    justify-content: center !important;
  }

  .max-height-for-2-lines {
    max-height: 2.5rem;
  }
  .text-ellipsis-2-lines {
    @include displaying-text-ellipsis(2);
  }
}
