/* You can add global styles to this file, and also import other style files */
@import '/src/_mixins.scss';

@include danger-action;
@include table-inline-buttons;
@include table-responsive-columns;

::ng-deep #ocx-search-button {
  display: none;
}

::ng-deep ocx-page-header .search-criteria-container {
  width: 100%;
  display: inline !important;
}

::ng-deep ocx-page-header .basic-criteria {
  display: inline !important;
}
