<ocx-search-header
  [header]="'DIALOG.SEARCH.HEADER' | translate"
  [subheader]="'DIALOG.SEARCH.SUBHEADER' | translate"
  (searched)="submitCriteria()"
  (resetted)="submitReset()"
  [manualBreadcrumbs]="false"
  [actions]="actions"
>
  <div id="criteria">
    <form [formGroup]="criteriaGroup">
      <div class="flex flex-wrap gap-3 mb-3">
        <span class="p-float-label flex-auto">
          <input
            id="applicationId"
            pInputText
            type="text"
            formControlName="applicationId"
            [ngClass]="
              criteriaGroup.controls['applicationId'].invalid &&
              criteriaGroup.controls['applicationId'].dirty &&
              criteriaGroup.controls['applicationId'].touched
                ? 'ng-invalid ng-dirty'
                : null
            "
            style="width: 100%"
            required
            (click)="showAppIdSelectDialog(); criteriaGroup.reset()"
          />
          <label class="required" for="applicationId">{{ 'APPLICATION_PARAMETER.APPLICATION_ID' | translate }}</label>
        </span>
        <span class="p-float-label flex-auto">
          <input
            id="key"
            pInputText
            type="text"
            formControlName="key"
            style="width: 100%"
            (click)="showAppKeySelectDialog()"
          />
          <label for="key">{{ 'APPLICATION_PARAMETER.KEY' | translate }}</label>
        </span>
      </div>
    </form>
  </div>
</ocx-search-header>
