<p-dialog
  [header]="'DIALOG.DETAIL.' + changeMode + '.HEADER' | translate"
  [(visible)]="displayDialog"
  (onHide)="onDialogHide()"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
  [style]="{ width: '600px' }"
  [breakpoints]="{
    '992px': '75vw',
    '768px': '90vw',
    '630px': '100vw'
  }"
>
  <p-tabView #panelDetail [formGroup]="formGroup">
    <p-tabPanel
      [header]="'DIALOG.DETAIL.TAB.PROPS' | translate"
      [tooltip]="'DIALOG.DETAIL.TAB.TOOLTIPS.PROPS' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    >
      <div class="flex flex-column row-gap-4">
        <div class="flex flex-row row-gap-4">
          <div class="mt-1 px-2 w-12 sm:w-6">
            <span class="p-float-label" controlErrorAnchor>
              <p-dropdown
                id="pm_detail_form_product_name"
                class="input-field"
                styleClass="w-full text-responsive"
                formControlName="productName"
                [options]="productOptions"
                (onChange)="onChangeProductName($event.value)"
                [autoDisplayFirst]="true"
                [appendTo]="'body'"
                [showClear]="['COPY', 'CREATE'].includes(this.changeMode)"
                [emptyMessage]="'ACTIONS.SEARCH.CRITERIA.NO_PRODUCT' | translate"
                [ariaLabel]="'PARAMETER.PRODUCT_NAME' | translate"
                [pTooltip]="'PARAMETER.TOOLTIPS.PRODUCT_NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </p-dropdown>
              <label class="ocx-required-label" for="pm_detail_form_product_name">
                {{ 'PARAMETER.PRODUCT_NAME' | translate }}</label
              >
            </span>
          </div>
          <div class="mt-1 px-2 w-12 sm:w-6">
            <span class="p-float-label" controlErrorAnchor>
              <p-dropdown
                id="pm_detail_form_app_id"
                class="input-field"
                styleClass="w-full text-responsive"
                formControlName="applicationId"
                [options]="appIdOptions"
                [autoDisplayFirst]="true"
                [appendTo]="'body'"
                [showClear]="['COPY', 'CREATE'].includes(this.changeMode)"
                [emptyMessage]="'ACTIONS.SEARCH.CRITERIA.NO_APP' | translate"
                [ariaLabel]="'PARAMETER.APP_ID' | translate"
                [pTooltip]="'PARAMETER.TOOLTIPS.APP_ID' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </p-dropdown>
              <label class="ocx-required-label" for="pm_detail_form_app_id">
                {{ 'PARAMETER.APP_ID' | translate }}</label
              >
            </span>
          </div>
        </div>

        <div class="flex flex-row row-gap-4">
          <div class="p-fluid mx-2 w-12">
            <span class="p-float-label" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="pm_detail_form_name"
                formControlName="name"
                class="w-full pt-3 pb-2 text-responsive"
                [ariaLabel]="'PARAMETER.NAME' | translate"
                [pTooltip]="'PARAMETER.TOOLTIPS.NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label class="ocx-required-label" for="pm_detail_form_name">{{ 'PARAMETER.NAME' | translate }}</label>
            </span>
          </div>
        </div>

        <div class="flex flex-row row-gap-4">
          <div class="p-fluid mx-2 w-12">
            <span class="p-float-label" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="pm_detail_form_display_name"
                formControlName="displayName"
                class="w-full pt-3 pb-2 text-responsive"
                [ariaLabel]="'PARAMETER.DISPLAY_NAME' | translate"
                [pTooltip]="'PARAMETER.TOOLTIPS.DISPLAY_NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="pm_detail_form_display_name">{{ 'PARAMETER.DISPLAY_NAME' | translate }}</label>
            </span>
          </div>
        </div>

        <div class="flex flex-row row-gap-4">
          <div class="p-fluid mx-2 w-12">
            <span class="p-float-label" controlErrorAnchor>
              <textarea
                pInputTextarea
                id="pm_detail_form_description"
                formControlName="description"
                rows="2"
                autoResize="false"
                [ariaLabel]="'PARAMETER.DESCRIPTION' | translate"
                [pTooltip]="'PARAMETER.TOOLTIPS.DESCRIPTION' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </textarea>
              <label for="pm_detail_form_description">{{ 'PARAMETER.DESCRIPTION' | translate }} </label>
            </span>
          </div>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel
      [header]="'DIALOG.DETAIL.TAB.VALUE' | translate"
      [tooltip]="'DIALOG.DETAIL.TAB.TOOLTIPS.VALUE' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    >
      <div class="mt-1 relative p-fluid mx-2">
        <p-badge
          severity="primary"
          [value]="5000 - parameterValue.value.length"
          class="z-1 text-badge-right"
          [attr.aria-label]="'DIALOG.DETAIL.CHARACTERS' | translate"
          [pTooltip]="'DIALOG.DETAIL.CHARACTERS' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <span class="p-float-label" controlErrorAnchor>
          <textarea
            #parameterValue
            pInputTextarea
            id="pm_detail_form_value"
            class="w-full"
            formControlName="value"
            [rows]="13"
            jsonColorize
            [ariaLabel]="'PARAMETER.VALUE' | translate"
            [pTooltip]="'PARAMETER.TOOLTIPS.VALUE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
          </textarea>
          <label for="pm_detail_form_value">{{ 'PARAMETER.VALUE' | translate }}</label>
        </span>
      </div>
    </p-tabPanel>

    <!-- The imported value - in case of viewing only -->
    <p-tabPanel
      *ngIf="!['COPY', 'CREATE'].includes(changeMode)"
      [header]="'DIALOG.DETAIL.TAB.IMPORT_VALUE' | translate"
      [tooltip]="'DIALOG.DETAIL.TAB.TOOLTIPS.IMPORT_VALUE' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    >
      <div class="mt-1 relative p-fluid mx-2">
        <p-badge
          severity="primary"
          [value]="5000 - parameterInputValue.value.length"
          class="z-1 text-badge-right"
          [attr.aria-label]="'DIALOG.DETAIL.CHARACTERS' | translate"
          [pTooltip]="'DIALOG.DETAIL.CHARACTERS' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <span class="p-float-label">
          <textarea
            #parameterInputValue
            pInputTextarea
            id="pm_detail_import_value"
            class="w-full"
            [value]="parameter?.importValue"
            [rows]="13"
            jsonColorize
            [disabled]="true"
            [ariaLabel]="'PARAMETER.IMPORT_VALUE' | translate"
            [pTooltip]="'PARAMETER.TOOLTIPS.IMPORT_VALUE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
          </textarea>
          <label for="pm_detail_import_value">{{ 'PARAMETER.IMPORT_VALUE' | translate }}</label>
        </span>
      </div>
    </p-tabPanel>

    <!-- The internals - in case of an existing item only -->
    <p-tabPanel
      *ngIf="!['COPY', 'CREATE'].includes(changeMode)"
      [header]="'DIALOG.DETAIL.TAB.INTERN' | translate"
      [tooltip]="'DIALOG.DETAIL.TAB.TOOLTIPS.INTERN' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    >
      <div class="mx-2 flex flex-column row-gap-4">
        <!-- row 1 -->
        <div class="flex flex-row flex-wrap gap-4">
          <span class="flex-grow-1 sm:flex-grow-0 p-float-label">
            <input
              pInputText
              type="text"
              readonly
              id="ps_app_detail_form_field_creation_date"
              class="w-full sm:w-15rem pt-3 pb-2 text-responsive"
              [value]="parameter?.creationDate ? (parameter?.creationDate | date: dateFormat) : ''"
              [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_DATE' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="ps_app_detail_form_field_creation_date">{{ 'INTERNAL.CREATION_DATE' | translate }}</label>
          </span>
          <span class="flex-grow-1 p-float-label">
            <input
              pInputText
              type="text"
              readonly
              id="ps_app_detail_form_field_creation_user"
              class="w-full pt-3 pb-2 text-responsive"
              [value]="parameter?.creationUser"
              [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_USER' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="ps_app_detail_form_field_creation_user"> {{ 'INTERNAL.CREATION_USER' | translate }} </label>
          </span>
        </div>

        <!-- row 2 -->
        <div class="flex flex-row flex-wrap gap-4">
          <span class="flex-grow-1 sm:flex-grow-0 p-float-label">
            <input
              pInputText
              type="text"
              readonly
              id="ps_app_detail_form_field_modification_date"
              class="w-full sm:w-15rem pt-3 pb-2"
              [value]="parameter?.modificationDate ? (parameter?.modificationDate | date: dateFormat) : ''"
              [pTooltip]="'INTERNAL.TOOLTIPS.MODIFICATION_DATE' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="ps_app_detail_form_field_modification_date">
              {{ 'INTERNAL.MODIFICATION_DATE' | translate }}
            </label>
          </span>
          <span class="flex-grow-1 p-float-label">
            <input
              pInputText
              type="text"
              readonly
              id="ps_app_detail_form_field_modification_user"
              class="w-full pt-3 pb-2 text-responsive"
              [value]="parameter?.modificationUser"
              [pTooltip]="'INTERNAL.TOOLTIPS.MODIFICATION_USER' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="ps_app_detail_form_field_modification_user">
              {{ 'INTERNAL.MODIFICATION_USER' | translate }}
            </label>
          </span>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>

  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-end gap-2 mb-1">
      <p-button
        id="pm_detail_action_cancel"
        icon="pi pi-times"
        (onClick)="onDialogHide()"
        [label]="'ACTIONS.CANCEL' | translate"
        [ariaLabel]="'ACTIONS.CANCEL' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.CANCEL_AND_CLOSE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        id="pm_detail_action_save"
        icon="pi pi-save"
        (onClick)="onSave()"
        [disabled]="!formGroup.valid"
        [label]="'ACTIONS.SAVE' | translate"
        [ariaLabel]="'ACTIONS.SAVE' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.SAVE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
