@import '/src/app/_pm-mixins.scss';

@include correct-select-button;
@include dialog-footer-buttons;
@include dialog-non-full-size-modal;
@include displaying-text-responsive;
@include tabview-reduce-padding;
@include tabview-fix-color-selected-tab;

:host ::ng-deep {
  label.float-label {
    color: var(--emphasis-medium);
  }
  .error-tailor-has-error ~ control-error {
    text-align: left;
  }
}
