<p-dialog
  [header]="'DIALOG.DETAIL.' + changeMode + '.HEADER' | translate"
  [(visible)]="displayDialog"
  (onHide)="onDialogHide()"
  [modal]="true"
  [closable]="true"
  [draggable]="true"
  [resizable]="true"
  [style]="{ width: '600px' }"
  [breakpoints]="{
    '992px': '75vw',
    '768px': '90vw',
    '630px': '100vw'
  }"
>
  <p-message
    *ngIf="exceptionKey"
    id="am_detail_message_error"
    severity="error"
    [text]="exceptionKey | translate"
  ></p-message>

  <p-tabView *ngIf="!exceptionKey" [formGroup]="formGroup" errorTailor>
    <p-tabPanel
      [header]="'DIALOG.DETAIL.TAB.PROPS' | translate"
      [tooltip]="'DIALOG.DETAIL.TAB.TOOLTIPS.PROPS' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    >
      <div class="flex flex-column row-gap-4">
        <div class="flex flex-row flex-wrap row-gap-4">
          <div class="mt-1 pr-3 w-12 sm:w-6">
            <span class="p-float-label" controlErrorAnchor>
              <p-dropdown
                id="pam_detail_form_product_name"
                class="input-field"
                styleClass="w-full text-responsive"
                formControlName="productName"
                [options]="productOptions"
                (onChange)="onChangeProductName($event.value)"
                [autoDisplayFirst]="true"
                [appendTo]="'body'"
                [showClear]="['COPY', 'CREATE'].includes(this.changeMode)"
                [emptyMessage]="'ACTIONS.SEARCH.CRITERIA.NO_PRODUCT' | translate"
                [ariaLabel]="'PARAMETER.PRODUCT_NAME' | translate"
                [pTooltip]="'PARAMETER.TOOLTIPS.PRODUCT_NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </p-dropdown>
              <label class="ocx-required-label" for="pam_detail_form_product_name">
                {{ 'PARAMETER.PRODUCT_NAME' | translate }}</label
              >
            </span>
          </div>
          <div class="mt-1 pl-3 w-12 sm:w-6">
            <span class="p-float-label" controlErrorAnchor>
              <p-dropdown
                id="pam_detail_form_app_id"
                class="input-field"
                styleClass="w-full text-responsive"
                formControlName="applicationId"
                [options]="appOptions"
                [autoDisplayFirst]="true"
                [appendTo]="'body'"
                [showClear]="['COPY', 'CREATE'].includes(this.changeMode)"
                [emptyMessage]="'ACTIONS.SEARCH.CRITERIA.NO_APP' | translate"
                [ariaLabel]="'PARAMETER.APP_NAME' | translate"
                [pTooltip]="'PARAMETER.TOOLTIPS.APP_NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </p-dropdown>
              <label class="ocx-required-label" for="pam_detail_form_app_id">
                {{ 'PARAMETER.APP_NAME' | translate }}</label
              >
            </span>
          </div>
        </div>

        <div class="flex flex-row row-gap-4">
          <div class="p-fluid w-12">
            <span class="p-float-label" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="pam_detail_form_name"
                formControlName="name"
                class="w-full pt-3 pb-2 text-responsive"
                [attr.aria-label]="'PARAMETER.NAME' | translate"
                [pTooltip]="'PARAMETER.TOOLTIPS.NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label class="ocx-required-label" for="pam_detail_form_name">{{ 'PARAMETER.NAME' | translate }}</label>
            </span>
          </div>
        </div>

        <div class="flex flex-row row-gap-4">
          <div class="p-fluid w-12">
            <span class="p-float-label" controlErrorAnchor>
              <input
                pInputText
                type="text"
                id="pam_detail_form_display_name"
                formControlName="displayName"
                class="w-full pt-3 pb-2 text-responsive"
                [attr.aria-label]="'PARAMETER.DISPLAY_NAME' | translate"
                [pTooltip]="'PARAMETER.TOOLTIPS.DISPLAY_NAME' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              />
              <label for="pam_detail_form_display_name">{{ 'PARAMETER.DISPLAY_NAME' | translate }}</label>
            </span>
          </div>
        </div>

        <div class="flex flex-row row-gap-4">
          <div class="p-fluid w-12">
            <span class="p-float-label" controlErrorAnchor>
              <textarea
                pInputTextarea
                id="pam_detail_form_description"
                formControlName="description"
                rows="2"
                autoResize="false"
                [ariaLabel]="'PARAMETER.DESCRIPTION' | translate"
                [pTooltip]="'PARAMETER.TOOLTIPS.DESCRIPTION' | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
              </textarea>
              <label for="pam_detail_form_description">{{ 'PARAMETER.DESCRIPTION' | translate }} </label>
            </span>
          </div>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel
      [header]="'DIALOG.DETAIL.TAB.VALUE' | translate"
      [tooltip]="'DIALOG.DETAIL.TAB.TOOLTIPS.VALUE' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    >
      <div class="mb-3 slim-selectbutton search-criteria-selectbutton">
        <p-selectButton
          #ValueType
          inputid="pam_detail_form_value_type_switch"
          [options]="valueTypeOptions"
          formControlName="valueType"
          [attr.aria-label]="'PARAMETER.VALUE.TYPE' | translate"
          [pTooltip]="'PARAMETER.TOOLTIPS.VALUE.TYPE' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        >
          <ng-template let-item pTemplate>{{ item.label | translate }}</ng-template>
        </p-selectButton>

        <ng-container *ngIf="formStatus$ | async as status">
          <div *ngIf="status === 'INVALID'">invalid</div>
        </ng-container>
      </div>

      <div class="relative p-fluid">
        <p-checkbox
          *ngIf="ValueType.value === 'BOOLEAN'"
          type="text"
          [binary]="true"
          id="pam_detail_form_value"
          styleClass="ml-3 cursor-auto shadow-none"
          formControlName="valueBoolean"
          [label]="'PARAMETER.VALUE' | translate"
          [pTooltip]="'PARAMETER.TOOLTIPS.VALUE' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        ></p-checkbox>

        <span class="p-float-label" controlErrorAnchor>
          <input
            *ngIf="ValueType.value !== 'OBJECT' && ValueType.value !== 'BOOLEAN'"
            pInputText
            type="text"
            id="pam_detail_form_value"
            class="w-full pt-3 pb-2 text-responsive"
            formControlName="value"
            [attr.aria-label]="'PARAMETER.VALUE' | translate"
            [pTooltip]="'PARAMETER.TOOLTIPS.VALUE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          />

          <ng-container *ngIf="ValueType.value === 'OBJECT'">
            <p-badge
              severity="primary"
              [value]="5000 - parameterValue.value.length"
              class="z-1 text-badge-right"
              [attr.aria-label]="'DIALOG.DETAIL.CHARACTERS' | translate"
              [pTooltip]="'DIALOG.DETAIL.CHARACTERS' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <textarea
              #parameterValue
              pInputTextarea
              id="pam_detail_form_value"
              class="w-full"
              formControlName="valueObject"
              jsonColorize
              [rows]="13"
              [ariaLabel]="'PARAMETER.VALUE' | translate"
              [pTooltip]="'PARAMETER.TOOLTIPS.VALUE' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
            </textarea>
          </ng-container>
          <label *ngIf="ValueType.value !== 'BOOLEAN'" for="pam_detail_form_value">
            {{ 'PARAMETER.VALUE' | translate }}
          </label>
        </span>
      </div>
    </p-tabPanel>

    <!-- The imported value - in case of viewing only -->
    <p-tabPanel
      *ngIf="!['COPY', 'CREATE'].includes(changeMode)"
      [header]="'DIALOG.DETAIL.TAB.IMPORT_VALUE' | translate"
      [tooltip]="'DIALOG.DETAIL.TAB.TOOLTIPS.IMPORT_VALUE' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    >
      <div class="mt-1 relative p-fluid">
        <p-badge
          severity="primary"
          [value]="5000 - parameterImportValue.value.length"
          class="z-1 text-badge-right"
          [attr.aria-label]="'DIALOG.DETAIL.CHARACTERS' | translate"
          [pTooltip]="'DIALOG.DETAIL.CHARACTERS' | translate"
          tooltipPosition="top"
          tooltipEvent="hover"
        />
        <span class="p-float-label">
          <textarea
            #parameterImportValue
            pInputTextarea
            id="pam_detail_import_value"
            class="w-full"
            formControlName="importValue"
            jsonColorize
            [rows]="13"
            [ariaLabel]="'PARAMETER.IMPORT_VALUE' | translate"
            [pTooltip]="'PARAMETER.TOOLTIPS.IMPORT_VALUE' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          >
            {{ parameter?.importValue }}
          </textarea>
          <label for="pam_detail_import_value">{{ 'PARAMETER.IMPORT_VALUE' | translate }}</label>
        </span>
      </div>
    </p-tabPanel>

    <!-- The internals - in case of an existing item only -->
    <p-tabPanel
      *ngIf="!['COPY', 'CREATE'].includes(changeMode)"
      [header]="'INTERNAL.HEADER' | translate"
      [attr.aria-label]="'INTERNAL.HEADER' | translate"
      [tooltip]="'INTERNAL.TOOLTIP' | translate"
      tooltipPosition="top"
      tooltipEvent="hover"
    >
      <div class="mt-1 flex flex-column row-gap-4">
        <!-- row 1 -->
        <div
          class="ml-2 sm:ml-3 mb-1 flex flex-row flex-wrap justify-content-start align-items-center column-gap-7 row-gap-2"
        >
          <p-checkbox
            inputId="pam_detail_field_operator"
            styleClass="cursor-auto shadow-none"
            [disabled]="true"
            [value]="parameter?.operator"
            [binary]="true"
            [label]="'INTERNAL.OPERATOR' | translate"
            [ariaLabel]="'INTERNAL.OPERATOR' | translate"
            [pTooltip]="'INTERNAL.TOOLTIPS.OPERATOR' | translate"
            tooltipPosition="top"
            tooltipEvent="hover"
          ></p-checkbox>
        </div>

        <!-- row 2 -->
        <div class="flex flex-row flex-wrap gap-4">
          <span class="flex-grow-1 sm:flex-grow-0 p-float-label">
            <input
              pInputText
              type="text"
              id="pam_detail_field_creation_date"
              class="w-full sm:w-15rem pt-3 pb-2 text-responsive"
              [disabled]="true"
              [value]="parameter?.creationDate ? (parameter?.creationDate | date: dateFormat) : ''"
              [attr.aria-label]="'INTERNAL.CREATION_DATE' | translate"
              [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_DATE' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="pam_detail_field_creation_date">{{ 'INTERNAL.CREATION_DATE' | translate }}</label>
          </span>
          <span class="flex-grow-1 p-float-label">
            <input
              pInputText
              type="text"
              id="pam_detail_field_creation_user"
              class="w-full pt-3 pb-2 text-responsive"
              [disabled]="true"
              [value]="parameter?.creationUser"
              [attr.aria-label]="'INTERNAL.CREATION_USER' | translate"
              [pTooltip]="'INTERNAL.TOOLTIPS.CREATION_USER' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="pam_detail_field_creation_user"> {{ 'INTERNAL.CREATION_USER' | translate }} </label>
          </span>
        </div>

        <!-- row 4 -->
        <div class="flex flex-row flex-wrap gap-4">
          <span class="flex-grow-1 sm:flex-grow-0 p-float-label">
            <input
              pInputText
              type="text"
              id="pam_detail_field_modification_date"
              class="w-full sm:w-15rem pt-3 pb-2"
              [disabled]="true"
              [value]="parameter?.modificationDate ? (parameter?.modificationDate | date: dateFormat) : ''"
              [attr.aria-label]="'INTERNAL.MODIFICATION_DATE' | translate"
              [pTooltip]="'INTERNAL.TOOLTIPS.MODIFICATION_DATE' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="pam_detail_field_modification_date"> {{ 'INTERNAL.MODIFICATION_DATE' | translate }} </label>
          </span>
          <span class="flex-grow-1 p-float-label">
            <input
              pInputText
              type="text"
              id="pam_detail_field_modification_user"
              class="w-full pt-3 pb-2 text-responsive"
              [disabled]="true"
              [value]="parameter?.modificationUser"
              [attr.aria-label]="'INTERNAL.MODIFICATION_USER' | translate"
              [pTooltip]="'INTERNAL.TOOLTIPS.MODIFICATION_USER' | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            />
            <label for="pam_detail_field_modification_user"> {{ 'INTERNAL.MODIFICATION_USER' | translate }} </label>
          </span>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>

  <ng-template pTemplate="footer">
    <div class="flex flex-wrap justify-content-end gap-2 mb-1">
      <p-button
        *ngIf="exceptionKey || changeMode === 'VIEW'"
        id="pam_detail_action_close"
        icon="pi pi-times"
        (onClick)="onDialogHide()"
        [label]="'ACTIONS.NAVIGATION.CLOSE' | translate"
        [ariaLabel]="'ACTIONS.NAVIGATION.CLOSE' | translate"
        [pTooltip]="'ACTIONS.NAVIGATION.CLOSE.TOOLTIP' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        *ngIf="!(exceptionKey || changeMode === 'VIEW')"
        id="pam_detail_action_cancel"
        icon="pi pi-times"
        (onClick)="onDialogHide()"
        [label]="'ACTIONS.CANCEL' | translate"
        [ariaLabel]="'ACTIONS.CANCEL' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.CANCEL_AND_CLOSE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
      <p-button
        *ngIf="!(exceptionKey || changeMode === 'VIEW')"
        id="pam_detail_action_save"
        icon="pi pi-save"
        (onClick)="onSave()"
        [disabled]="!formGroup.valid"
        [label]="'ACTIONS.SAVE' | translate"
        [ariaLabel]="'ACTIONS.SAVE' | translate"
        [pTooltip]="'ACTIONS.TOOLTIPS.SAVE' | translate"
        tooltipPosition="top"
        tooltipEvent="hover"
      ></p-button>
    </div>
  </ng-template>
</p-dialog>
