@use '/src/app/_pam-mixins.scss' as *;

@include text-badges;
@include correct-select-button;
@include search-criteria-select-button;
@include search-criteria-select-button-slim;
@include readable-disabled-components;
@include dialog-footer-buttons;
@include dialog-non-full-size-modal;
@include ocx-text-responsive;
@include ocx-required-label;
@include ocx-p-tabs;
@include p-inputtext-disabled-fix;

:host ::ng-deep {
  label.float-label {
    color: var(--emphasis-medium);
  }
  .error-tailor-has-error ~ control-error {
    text-align: left;
  }
  .p-dropdown-label {
    padding-top: 1rem !important;
    padding-bottom: 0.5rem !important;
  }
}
