<ocx-portal-page permission="PARAMETER#SEARCH" helpArticleId="PAGE_PARAMETER_SEARCH">
  <!-- slot getting data from product store -->
  <ocx-slot
    *ngIf="isComponentDefined$ | async"
    [name]="slotName"
    [inputs]="{ refresh: false }"
    [outputs]="{ productsAndApplications: slotEmitter }"
  >
  </ocx-slot>

  <ng-container *ngIf="metaData$ | async as metaData">
    <app-parameter-criteria
      type="HISTORY"
      [actions]="actions"
      type="HISTORY"
      [usedProducts]="metaData.usedProducts"
      (searchEmitter)="onSearch($event)"
      (resetSearchEmitter)="onCriteriaReset()"
    ></app-parameter-criteria>

    <ocx-page-content>
      <p-message
        *ngIf="!metaData.usedProducts"
        id="pm_search_message_loading"
        severity="info"
        styleClass="m-3"
        [text]="'ACTIONS.LOADING' | translate"
      ></p-message>
      <p-message
        *ngIf="exceptionKey"
        id="pm_search_message_error"
        severity="error"
        styleClass="m-3"
        [text]="exceptionKey | translate"
      ></p-message>

      <ng-container *ngIf="data$ | async as data">
        <p-message
          *ngIf="loading"
          id="pm_search_message_searching"
          severity="info"
          styleClass="m-3 p-2"
          [text]="'ACTIONS.SEARCH.IN_PROGRESS' | translate"
        ></p-message>
        <p-table
          *ngIf="!(loading || exceptionKey)"
          #dataTable
          id="pm_search_table"
          styleClass="mx-3 mb-2"
          [value]="data"
          [columns]="filteredColumns"
          dataKey="id"
          [globalFilterFields]="['productName', 'applicationId', 'name', 'displayName']"
          [reorderableColumns]="false"
          [scrollable]="true"
          scrollHeight="590px"
          [rows]="10"
          [rowsPerPageOptions]="[10, 30, 100]"
          [paginator]="true"
          [alwaysShowPaginator]="true"
          paginatorPosition="bottom"
          [showCurrentPageReport]="true"
          currentPageReportTemplate="{first} - {last} {{ 'ACTIONS.SEARCH.OF' | translate }} {totalRecords}"
        >
          <ng-template pTemplate="caption">
            <ocx-data-view-controls
              [supportedViews]="['table']"
              [enableFiltering]="true"
              [enableSorting]="false"
              [columnDefinitions]="columns"
              (columnsChange)="onColumnsChange($event)"
              (filterChange)="onFilterChange($event)"
              [translations]="(dataViewControlsTranslations$ | async) ?? {}"
            ></ocx-data-view-controls>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td id="pm_search_table_emptymessage" colspan="16">{{ 'ACTIONS.SEARCH.NO_DATA' | translate }}</td>
            </tr>
          </ng-template>

          <ng-template pTemplate="header" let-columns>
            <tr>
              <th
                *ngFor="let col of columns"
                [id]="'pm_search_table_header_col_' + col.field"
                class="white-space-nowrap"
                [class]="col.css"
                [pSortableColumn]="col.field"
                [attr.aria-label]="col.translationPrefix + '.' + col.header | translate"
                [pTooltip]="col.translationPrefix + '.TOOLTIPS.' + col.header | translate"
                tooltipPosition="top"
                tooltipEvent="hover"
              >
                <span>{{ col.translationPrefix + '.' + col.header | translate }}</span>
                <p-sortIcon [field]="col.field"></p-sortIcon>
                <p-columnFilter *ngIf="col.hasFilter" type="text" [field]="col.field" display="menu"></p-columnFilter>
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-i="rowIndex" let-rowData let-columns="columns">
            <tr [pSelectableRow]="data">
              <!-- actions -->
              <td pFrozenColumn class="align-items-center border-right-1 text-center white-space-nowrap"></td>
              <td *ngFor="let col of columns" [id]="'pm_search_table_row_' + i + '_' + col.field" [class]="col.css">
                <!-- needs a div due to manage ellipsis -->
                <div *ngIf="col.field === 'value'" class="text-ellipsis-2-lines">
                  {{ rowData['value'] ?? rowData['importValue'] }}
                </div>
                <div *ngIf="col.field === 'name'" class="text-ellipsis-2-lines">
                  {{ rowData['displayName'] ? rowData['displayName'] : rowData[col.field] }}
                </div>
                <ng-container *ngIf="col.field === 'productDisplayName'">
                  {{ getProductDisplayName(rowData['productName'], metaData.allProducts) }}
                </ng-container>
                <ng-container *ngIf="col.field === 'applicationName'">
                  {{ getAppDisplayName(rowData['productName'], rowData['applicationId'], metaData.allProducts) }}
                </ng-container>
                <ng-container *ngIf="col.isBoolean">
                  <span *ngIf="rowData[col.field]" class="pi pi-check"></span>
                </ng-container>
                <ng-container *ngIf="col.isDate"> {{ rowData[col.field] | date: dateFormat }} </ng-container>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </ng-container>
    </ocx-page-content>
  </ng-container>
</ocx-portal-page>
