app:
  name: ui
  image:
    repository: 'onecx/onecx-parameter-ui'
  routing:
    enabled: true
    path: /mfe/parameter/
  
  operator:
    # Microfrontend
    microfrontend:
      enabled: true
      specs:
        main:
          exposedModule: "./OneCXParameterModule"
          description: "OneCX Parameter UI"
          note: "OneCX Parameter UI auto import via operator"
          type: MODULE
    # Permission
    permission:
      enabled: true
      spec:
        permissions:
          PARAMETER:
            DELETE: Delete image
            EDIT: Edit image
            VIEW: View image
            
# PIPE Config
