<ocx-portal-page permission="USAGE#SEARCH" helpArticleId="PAGE_PARAMETER_USAGE">
  <!-- slot getting data from product store -->
  <ocx-slot
    *ngIf="isComponentDefined$ | async"
    [name]="slotName"
    [inputs]="{ dataType: 'products', logEnabled: false, logPrefix: 'parameter' }"
    [outputs]="{ products: slotEmitter }"
  >
  </ocx-slot>

  <ng-container *ngIf="metaData$ | async as metaData">
    <app-parameter-criteria
      type="USAGE"
      [actions]="actions"
      type="USAGE"
      [usedProducts]="metaData.usedProducts"
      (searchEmitter)="onSearch($event)"
      (resetSearchEmitter)="onCriteriaReset()"
    ></app-parameter-criteria>

    <ocx-content>
      <p-message
        *ngIf="exceptionKey || exceptionKeyMeta"
        id="pam_usage_search_message_error"
        severity="error"
        styleClass="m-3"
        [text]="exceptionKey ? (exceptionKey | translate) : (exceptionKeyMeta ?? '' | translate)"
      ></p-message>

      <ng-container *ngIf="data$ | async as data">
        <p-message
          *ngIf="loading"
          id="pam_usage_search_message_loading"
          severity="info"
          styleClass="m-3"
          [text]="'ACTIONS.LOADING' | translate"
        ></p-message>
        <ocx-interactive-data-view
          *ngIf="!(loading || exceptionKey)"
          name="pam_usage_table"
          [supportedViewLayouts]="['table']"
          layout="table"
          [columns]="columns"
          [data]="data"
          [filters]="filters"
          [clientSideFiltering]="true"
          [clientSideSorting]="true"
          [tablePaginator]="true"
          [pageSize]="10"
          [pageSizes]="[10, 30, 100]"
          [frozenActionColumn]="true"
          actionColumnPosition="left"
          viewPermission="PARAMETER#VIEW"
          editPermission="PARAMETER#EDIT"
          viewActionEnabledField="parameterId"
          editActionEnabledField="parameterId"
          [additionalActions]="additionalActions"
          [emptyResultsMessage]="'ACTIONS.SEARCH.NO_DATA' | translate"
          (filtered)="onFilterChange($event)"
          (viewItem)="onDetail('VIEW', $any($event))"
          (editItem)="onDetail('EDIT', $any($event))"
        >
          <ng-template pTemplate="nameIdTableCell" let-rowObject="rowObject">
            <div
              class="text-ellipsis-2-lines max-w-15rem word-break-all"
              [ngStyle]="{ 'min-width': (rowObject['name'] ?? '').length > 15 ? '8rem' : '' }"
            >
              {{ rowObject['name'] }}
            </div>
          </ng-template>

          <ng-template pTemplate="valueTypeIdTableCell" let-rowObject="rowObject">
            @let isUnknown = [rowObject['valueType'], rowObject['defaultValueType']].includes('UNKNOWN');
            <span
              [pTooltip]="isUnknown ? ('VALUE_TYPE.UNKNOWN.TOOLTIP' | translate) : ''"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              {{ 'VALUE_TYPE.' + rowObject['valueType'] | translate }}
              <ng-container *ngIf="rowObject['valueType'] !== rowObject['defaultValueType']">
                | {{ 'VALUE_TYPE.' + rowObject['defaultValueType'] | translate }}
              </ng-container>
            </span>
          </ng-template>

          <ng-template pTemplate="equalIdTableCell" let-rowObject="rowObject">
            <span
              [ngClass]="
                rowObject['isEqual'] === 'TRUE'
                  ? 'pi pi-check text-green-600'
                  : rowObject['isEqual'] === 'FALSE'
                    ? 'pi pi-times text-red-600'
                    : ''
              "
              [attr.aria-label]="'PARAMETER.TOOLTIPS.EQUAL.' + rowObject['isEqual'] | translate"
              [pTooltip]="'PARAMETER.TOOLTIPS.EQUAL.' + rowObject['isEqual'] | translate"
              tooltipPosition="top"
              tooltipEvent="hover"
            >
              {{ rowObject['isEqual'] === 'UNDEFINED' ? 'n.a.' : '' }}
            </span>
          </ng-template>

          <ng-template pTemplate="displayUsedValueIdTableCell" let-rowObject="rowObject">
            <div
              class="text-ellipsis-2-lines max-w-20rem word-break-all"
              [ngStyle]="{ 'min-width': (rowObject['displayUsedValue'] ?? '').length > 15 ? '10rem' : '' }"
            >
              {{ rowObject['displayUsedValue'] }}
            </div>
          </ng-template>

          <ng-template pTemplate="displayDefaultValueIdTableCell" let-rowObject="rowObject">
            <div
              class="text-ellipsis-2-lines max-w-20rem word-break-all"
              [ngStyle]="{ 'min-width': (rowObject['displayDefaultValue'] ?? '').length > 15 ? '10rem' : '' }"
            >
              {{ rowObject['displayDefaultValue'] }}
            </div>
          </ng-template>

          <ng-template pTemplate="applicationNameIdTableCell" let-rowObject="rowObject">
            {{ getProductDisplayName(rowObject['productName'], metaData.allProducts) }}
            <br />
            {{ getAppDisplayName(rowObject['productName'], rowObject['applicationId'], metaData.allProducts) }}
          </ng-template>

          <ng-template pTemplate="durationIdTableCell" let-rowObject="rowObject">
            {{ onCalcDuration(rowObject['start'], rowObject['end']) }}
          </ng-template>
        </ocx-interactive-data-view>
      </ng-container>
      <!-- DETAIL -->
      <app-parameter-detail
        [visible]="displayDetailDialog"
        (visibleChange)="onCloseDetail($event)"
        [parameter]="{ id: item4Detail?.parameterId }"
        [allProducts]="metaData.allProducts"
        [changeMode]="changeMode"
        [dateFormat]="dateFormat"
      ></app-parameter-detail>
    </ocx-content>
  </ng-container>
</ocx-portal-page>

<app-usage-detail
  [visible]="displayUsageDialog"
  (visibleChange)="onCloseUsage()"
  [history]="item4Detail"
  [dateFormat]="dateFormat"
></app-usage-detail>
