<ocx-portal-page [header]="'EDIT.EDIT_PARAMETER' | translate">
  <ocx-page-header
    [header]="'EDIT.EDIT_PARAMETER' | translate"
    [showBreadcrumbs]="false"
    [actions]="(this.actions$ | async) ?? []"
  >
    <div toolbarItems>
      <button
        pButton
        class="mr-2"
        label="{{ 'GENERAL.CLOSE' | translate }}"
        pTooltip="{{ 'GENERAL.CLOSE' | translate }}"
        tooltipPosition="top"
        [routerLink]="['../../']"
        icon="pi pi-times"
      ></button>
      <button
        pButton
        class="mr-2"
        label="{{ 'GENERAL.RELOAD' | translate }}"
        pTooltip="{{ 'GENERAL.RELOAD' | translate }}"
        tooltipPosition="top"
        (click)="parameterDetailFormComponent!.reloadData()"
        icon="pi pi-refresh"
      ></button>
      <button
        pButton
        label="{{ 'GENERAL.SAVE' | translate }}"
        pTooltip="{{ 'GENERAL.SAVE' | translate }}"
        tooltipPosition="top"
        (click)="parameterDetailFormComponent!.emitFormUpdate()"
        icon="pi pi-save"
        [disabled]="!parameterDetailFormComponent?.formEnabled"
      ></button>
    </div>
  </ocx-page-header>
  <app-parameter-detail-form (formSubmitted)="onSubmit($event)" mode="edit"></app-parameter-detail-form>
</ocx-portal-page>
